@{
    ViewBag.Title = "Controle de Abastecimento de Veiculo";
}

<h2>@ViewBag.Title.</h2>
<h3>Descrição do projeto</h3>
<blockquote>
    <strong>Objetivo:</strong>
    <br/>
    <em>Aprimorar os conhecimentos da plataforma ASP.Net MVC com a linguagem C#</em>
</blockquote>
<blockquote>
    <strong>Curso: </strong>
    <br/>
    <em>Informatica para Web</em>
</blockquote>
<blockquote>
    <strong>Professor:  </strong>
    <br />
    <em>Murilo</em>
</blockquote>

<blockquote>
    <strong>Aluno:   </strong>
    <br />
    <em>Luciano D. Rosine</em>
</blockquote>
<blockquote>
    <strong>Proposta:  </strong>
    <br />
    <em>Criar um sistema que permita um usuario efetuar o lancamento de abastecimentos de veiculos em um periodo e obter a media do consumo desse veiculo</em>
</blockquote>

<blockquote>
    <strong>Requisitos Funcionais:</strong>
    <br />
    <em>- Cadastro de Usuario</em>
    <br />
    <em>- Cadastro de Veiculo</em>
    <br />
    <em>- Cadastro de Motorista</em>
    <br />
    <em>- Cadastro de Postos de Abastecimento</em>
    <br />
    <em>- Visualização da Media de Consumo por Veiculo</em>
</blockquote>
<blockquote>
    <strong>Requisitos Não Funcionais:</strong>
    <br />
    <em>Plataforma ASP.Net</em>
    <br />
    <em>Linguagem C#</em>
    <br />
    <em>Banco de Dados SQL</em>
    <br />
    <em>Complementos com HTML5, CSS, JavaScript e jQuery</em>
</blockquote>

