@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Rua Antonio Tomazela, 432<br />
    Jardim Tomazela<br />
    Piracicaba - SP<br />
    13425-252<br />
    <abbr title="Telefone">Fone:</abbr>
    19-993810642
</address>

<address>
    <strong>E-mail</strong>   <a href="mailto:lucianorosine@gmail.com">lucianorosine@gmail.com</a><br />    
</address>